//podmiana podstawowych zmiennych
$body-color:white;
$body-bg:black;
$input-color: rgb(0, 0, 0);
$input-bg: purple;
/* npx sass style.scss style.css */

@import '../node_modules/bootstrap/scss/bootstrap.scss'
