<div style="margin: 15px">
    {{customer | json}}
<form (ngSubmit)="onSubmitForm(customerForm)" #customerForm="ngForm" >
    <input type="hidden" id="editIndex" value="">
    
    <div class="col-6">
        <label for="inputName" class="form-label">Nazwa Firmy</label>
        <input type="text" class="form-control" id="inputName" name="name" #name="ngModel" [(ngModel)]="customer.name" required>
        <div class="alert alert-danger" [hidden]="name.untouched || name.valid">Pole nie może być puste</div>
    </div>
   
    <div class="col-md-6">
        <label for="inputNIP" class="form-label">NIP</label>
        <input type="text" class="form-control" title="NIP musi składać się z 10 cyfr" id="inputNIP" name="nip" #nip="ngModel" [(ngModel)]="customer.nip" required />
        <div class="alert alert-danger" [hidden]="nip.untouched || nip.valid">Pole nie może być puste</div>
    </div>
    
    <div class="col-6">
        <label for="inputMiasto" class="form-label">Miasto</label>
        <input type="text" class="form-control" id="inputMiasto" required>
    </div>
  
    <div class="col-6">
        <label for="inputUlica" class="form-label">Ulica</label>
        <input type="text" class="form-control" id="inputUlica"  required>
    </div>
    
    <div class="col-md-6">
        <label for="inputNumber" class="form-label">Numer Domu</label>
        <input type="text" class="form-control" id="inputNumber" required>
    </div>
    
    <div class="col-md-6">
        <label for="inputNumberM" class="form-label">Numer Mieszkania</label>
        <input type="number" class="form-control" id="inputNumberM">
    </div>
    
    <div class="col-6">
        <label for="inputKod" class="form-label">Kod Pocztowy</label>
        <input type="text" class="form-control" pattern="\d{2}-\d{3}" title="Kod pocztowy musi mieć format xx-xxx" id="inputKod" required>
    </div>
   
    <div class="col-12">
        <label for="inputUwagi">Uwagi</label>
        <textarea class="form-control" placeholder="Zostaw uwagi tutaj" id="inputUwagi"></textarea>
    </div>
    
    <div class="form-floating">
        <select class="form-select" id="inputBranza" required>
            <option value="" disabled selected>Wybierz branżę</option>
            <option value="Finanse">Finanse</option>
            <option value="Informatyka">Informatyka</option>
            <option value="Motoryzacja">Motoryzacja</option>
        </select>
    </div>
   
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inputCheck">
            <label class="form-check-label" for="inputCheck">Aktywny</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input type="hidden" id="editIndex" value="">
        </div>
    </div>
  
    <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Zapisz</button>
        
        <button type="button" class="btn btn-secondary" (click)="navigateToList()">Pokaż Listę</button>

    </div>

</form>
</div>